@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Inter';
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #6563FF;
}

label {
    display: block;
    font-size: 1.2rem;
    margin-bottom: 0.3rem;
}

input {
    margin-bottom: 1.2rem;
    width: 275px;
}

input[type="text"] {
    padding: 0.4rem 0.7rem;
    border-radius: 3px;
    border: none;
    font-size: 1rem;
}

.container {
    padding: 1rem 2rem;
    width: 425px;
    background-color: #171d32;
    border-radius: 3%;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
}

.flex-item {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.flex-item * {
    margin: auto;
}

.title {
    text-align: center;
    margin-top: 1.5rem;
    color: #ffffff;
}

.hex-label {
    font-size: 2rem;
    margin-bottom: 0.8rem;
}

.box {
    height: 5.5rem;
    width: 100%;
    background-color: #3461cb;
    margin-top: .5rem;
    margin-bottom: 1.5rem;
    border-radius: 5px;
    border: 1px solid rgb(255, 255, 255, 0.3);
}

.toggle-text {
    font-size: 1.5rem;
}

.toggle {
    display: flex;
    align-items: center;
    margin-top: 1.5rem;
    justify-content: space-between;
}

.toggle>p {
    font-size: 1.75rem;
}

.toggle-btn {
    height: 1.8rem;
    width: 5.6rem;
    background-color: gray;
    border-radius: 30px;
    padding: 0.3rem;
    margin: 0 0.625rem;
}

.inner-circle {
    width: 1.9rem;
    height: 1.8rem;
    border-radius: 50%;
    background-color: white;
    transition: all 450ms;
}

.toggle-btn.toggled>.inner-circle {
    transform: translateX(3.75rem);
    background-color: #333;
}

.unselected {
    opacity: 0.2;
}

.slider-box {
    display: flex;
    justify-content: center;
    padding: 0.5rem 0;
    align-content: space-between;
    margin-bottom: 1rem;
}

.slider {
    width: 88%;
}

#sliderText,
.slider {
    margin: auto;
}

@media (max-width: 560px) {
    .container {
        width: 200px;
    }

    .hex-label {
        font-size: 1.5rem;
    }

    input {
        width: 170px;
    }

    .title {
        font-size: 1.5rem;
    }

    .toggle>p {
        font-size: 1.25rem;
    }

    .toggle-btn {
        height: .8rem;
        width: 2.4rem;

    }

    .inner-circle {
        width: .9rem;
        height: .8rem;

    }

    .toggle-btn.toggled>.inner-circle {
        transform: translateX(1.3rem);
        background-color: #333;
    }

    .slider {
        width: 150px;
    }

    #sliderText {
        font-size: 1.25rem;
        margin-right: 5px;
    }

    .box {
        height: 3.5rem;
    }

}